.su {
    background-color: #ffea00; 
    color: #000000;
    padding: 2px;
}

.titrenews {
    color: #7c8999;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.floatl {
    float: left; 
    margin-right: 10px;
}

.floatr {
    float: right; 
    margin-left: 10px;
}

.floatc {
    clear: both;
}

.colonnes {
    .floatl {
        width: 50%;
    }
    .floatr {
        width: 50%;
    }
}

.bbcodeleft {
    text-align: left;
}

.bbcodecenter {
    text-align: center;
	margin-bottom: 15px;
}

.bbcoderight {
    text-align: right;
}

.bbcodejustify {
    text-align: justify;
    margin-bottom: 15px;
}
