img[alt=Powers] { float: right; margin: 0px 0px 3px 10px;} 
img[alt=floatr] { float: right; margin: 0px 0px 3px 10px;} 
img[alt=Flowers] { float: left; margin:0 10px 0px 0;} 
img[alt=floatl] { float: left; margin:0 10px 0px 0;}

.surligne {
    background-color: #ffea00; 
    color: #000000;
    padding: 0px 2px 0px 2px;
}
